.button {
    background-color: #ccd8cd; /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }