<div style="text-align: center;">
<img src="https://image.shutterstock.com/image-vector/illustration-modern-school-260nw-102916910.jpg" alt="Girl in a jacket" width="800" height="400">
</div>
<h1 style="text-align: center;">Academics</h1>
<div style="text-align: center;">
<button class="button" (click)="navigate()">Homework</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="button" (click)="navigate1()">Marks</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="button" (click)="navigate2()">Go Online</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="button" (click)="navigate3()">Books</button>
<br>
<br>
<button class="button" (click)="navigate4()">Time Table</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="button" (click)="navigate5()">Attendance</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="button" (click)="navigate6()">Online Test</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="button" (click)="navigate7()">Book Appointment</button>
<br>
<br>
<button class="button" (click)="navigate8()">Fees</button>
</div>
<h1 style="text-align: center;">Extras</h1>
<div style="text-align: center;">
<button class="button" (click)="navigate9()">Resources</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="button" (click)="navigate10()">Dictionary</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="button" (click)="navigate11()">Track Bus</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="button" (click)="navigate12()">Events</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="button" (click)="navigate13()">Gallery</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="button" (click)="navigate14()">Remarks</button>
</div>
<br>
<br>